/* Basic style */
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    font-family: inherit;
    display: inline-block;
}
/* grid */
.row{
    max-width: 114rem;
    margin: 0 auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col-2-of-8{
    width: calc(2 * (100%/8));
    float: left;
}
.col-6-of-8{
    width: calc(6 * (100%/8));
    float: left;
}
.row1{
    max-width: 114rem;
    margin: 0 auto;
}
.row1::after{
    content: "";
    display: table;
    clear: both;
}
.col-4-of-8{
    width: calc(4 *(100%/8));
    float: left;
}
.col-4-of-8{
    width: calc(4*(100%/8));
    float: left;
}

/* header  */
.header{
    min-height: 100vh;
    background-color: rgb(19, 19, 206);
    padding: 2rem;
}
/* navbar */
.navigation{
    margin-bottom: 5rem;
}
.logo{
    text-transform: capitalize;
    font-size: 2.2rem;
    color: white;
    font-weight: 900;
    padding-top: .5rem;
    
}

.navlink{
    color: white;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: .8rem;
    transition: all .4s;

}
.navlink:not(:first-child){
    margin-left: 2.5rem;
}
.navlink:hover{
    background-color: black;
    color: white;
}
.row_padding{
    padding-top: 1rem;
}

/* main section */
.text_box{
    max-width: 40rem;
    
    padding-top: 7rem;
}
.heading_primary{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(241, 228, 228);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.span_word{
    color: white;
    border-bottom: 2px solid rgb(29, 170, 29);
}
.text_para{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(241, 228, 228); 
    margin-bottom: 3rem;
}
.btn{
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    color:rgb(241, 228, 228) ;
    background-color: rgb(9, 146, 9);
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 2rem;
    transition: all .4s;
}
.btn:hover{
    background-color:white;
    color:rgb(9, 146, 9) ;
}
/* picture section */

.card_box{
    position: relative;
}

.card1{
    background-color: white;
    min-height: 40rem;
    max-width: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    
}
.card2{
    background-color:white;
    min-height: 40rem;
    max-width: 25rem;
    /* position: absolute;
    left: 20rem; */
    position: absolute;
    top: -2rem;
    left: 17rem;
    border-radius: 1rem;
    overflow: hidden;
    border-left: 1px solid blue;
}
.img_box{
    max-height: 28rem;
}
.img{
    max-height: 26rem;
    width: 100%;
    object-fit: cover;
}
.card_text{
    text-align: center;
}
.heading_tertiary{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.card_texts{
    color: rgb(124, 114, 114);
    margin-bottom: 1rem;
}
.btn_card{
    border: none;
    background-color:rgb(29, 170, 29) ;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    
}
.btn_card:hover{
    background-color: white;
    color:rgb(29, 170, 29);
}